h1 {
    text-align: center;
    color: #D9D9D9;
}
body {
    background-color: #222;
    display: flex;
    justify-content: center;
}
span.playerName {
    cursor: pointer;
}
div.fight {
    position: absolute;
    width: 300px;
    height: fit-content;
    padding: 3px;
    top: 100px;
    text-align: center;
    color: #CCC;
    background-color: #333;
    border-radius: 3%;
    border: 6px solid #292929;
}
div.Battlemode {
    visibility: hidden;
}