h1 {
    text-align: center;
    color: #D9D9D9;
}
body {
    background-color: #222;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif
}
.header { height: fit-content; grid-area: header; }
.menu { grid-area: menu; position: relative; top: 15%; left:30%;  }

.main { grid-area: main; position: relative; left: 13%;
width: 550px;}
.right { grid-area: right; position: relative; top: 15%;  right:30%;}
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  padding: 10px;
}

span.playerName, span#playerpronouns {
    cursor: pointer;
}
span:hover {
    color:#AAA
}
div#stats {
    position: relative;
    color: #CCC;
    background-color: #333;
    border-radius: 3%;
    border: 6px solid #292929;
    right: 50%;
    width: 250px;
    height: fit-content;
    text-align: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 1.2s;
}

div#actions {
    position: relative;
    left: 70px;
    color: #CCC;
    background-color: #333;
    border-radius: 3%;
    border: 6px solid #292929;
    width: 250px;
    height: fit-content;
    text-align: center;
    padding: 15px;
    padding-bottom: 25px;
    opacity: 0;
    transition: opacity 1.2s;
}

div.fight {
    position: relative;
    width: 300px;
    height: fit-content;
    padding: 15px;
    left: 50%;
    text-align: center;
    color: #CCC;
    background-color: #333;
    border-radius: 3%;
    border: 6px solid #292929;
    opacity: 0;
    transition: opacity 1.2s;
}
div.Battlemode {
    opacity: 0;
    transition: opacity 1.2s;
}
@keyframes appear {
    from {opacity: 0; height: 0px;}
    to {opacity: 1; height: fit-content;}
}
div#materialstats {
    opacity: 0;
    height: 0px;
    transition: opacity 1.2s linear 1.2s, height 1.2s;
}
div#storytext_div {
    position: relative;
    width: 650px;
    top: -40px;
    text-align: center;
    font-style: italic;
    color: #CCC;
    background-color: #333;
    border-radius: 3%;
    border: 6px solid #292929;
    left: -150px;
    height: fit-content;
    padding: 35px;
    transition: opacity 0.5s;
}
button#getupbutton {
    visibility: hidden;
}